Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn. model_selection import cross_val_score
from sklearn.metrics import accuracy_score

Importing the models

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Data collection & processing

In [3]:
heart_dataset = pd.read_csv('/content/heart.csv')

In [4]:
heart_dataset.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1   37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2   41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3   56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4   57    0   0       120   354    0        1      163      1      0.6      2   0     2       1

In [5]:
heart_dataset.shape

(303, 14)

In [6]:
heart_dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
heart_dataset['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

0 -> Healthy Heart   
1 -> Defective Heart

Splitting features & target

In [8]:
X = heart_dataset.drop(columns='target', axis=1)
Y = heart_dataset['target']
print(X)
print(Y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# TRAIN TEST SPLIT

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size =0.2, stratify= Y, random_state = 3)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Comparing the performance of the models

In [23]:
#list of models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [24]:
def compare_models_train_test_split():
  for model in models:
    model.fit(X_train, Y_train)
    test_data_prediction = model.predict(X_test)
    accuracy = accuracy_score(Y_test, test_data_prediction)
    print('Accuracy score of', model, ':',accuracy)

In [25]:
compare_models_train_test_split()

Accuracy score of LogisticRegression(max_iter=1000) : 0.7704918032786885
Accuracy score of SVC(kernel='linear') : 0.7704918032786885
Accuracy score of KNeighborsClassifier() : 0.6557377049180327
Accuracy score of RandomForestClassifier() : 0.8032786885245902

# CROSS VALIDATION

Logistic Regression

In [29]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), X, Y, cv = 5)

print(cv_score_lr)

mean_accuracy_lr = sum(cv_score_lr)/ len(cv_score_lr)
mean_accuracy_lr = mean_accuracy_lr * 100
mean_accuracy_lr = round(mean_accuracy_lr,2)

print(' The mean accuracy of LR is :',mean_accuracy_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
 The mean accuracy of LR is : 82.83

SVC

In [30]:
cv_score_svc = cross_val_score(SVC(kernel='linear'), X, Y, cv=5)
print(cv_score_svc)

mean_accuracy_svc = sum(cv_score_svc)/ len(cv_score_svc)
mean_accuracy_svc = mean_accuracy_svc * 100
mean_accuracy_svc = round(mean_accuracy_svc,2)

print(' The mean accuracy of SVC is :',mean_accuracy_svc)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
 The mean accuracy of SVC is : 82.83

KNeighbors

In [31]:
cv_score_kneighbor = cross_val_score(KNeighborsClassifier(), X, Y, cv=5)
print(cv_score_kneighbor)

mean_accuracy_kneighbor = sum(cv_score_kneighbor)/ len(cv_score_kneighbor)
mean_accuracy_kneighbor = mean_accuracy_kneighbor * 100
mean_accuracy_kneighbor = round(mean_accuracy_kneighbor,2)

print(' The mean accuracy of KNeighbor is :',mean_accuracy_kneighbor)

[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
 The mean accuracy of KNeighbor is : 64.39

Random Forest Classifier

In [33]:
cv_score_rfc = cross_val_score(RandomForestClassifier(), X, Y, cv=5)
print(cv_score_rfc)

mean_accuracy_rfc = sum(cv_score_rfc)/ len(cv_score_rfc)
mean_accuracy_rfc = mean_accuracy_rfc * 100
mean_accuracy_rfc = round(mean_accuracy_rfc,2)

print(' The mean accuracy of Random Forest Classifier is :',mean_accuracy_rfc)

[0.80327869 0.8852459  0.78688525 0.8        0.78333333]
 The mean accuracy of Random Forest Classifier is : 81.17

# CREATING A FUNCTION TO COMPARE THE LIST OF MODELS

In [34]:
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [41]:
def compare_models_cross_val_score():
  for model in models:
    cv_score = cross_val_score(model,X,Y, cv =5)
    print(model,'=',cv_score)
    mean_accuracy = sum(cv_score)/len(cv_score)
    mean_accuracy = mean_accuracy * 100
    mean_accuracy = round(mean_accuracy, 2)
    print('The mean accuracy of', model, '=', mean_accuracy)
    print("")

In [42]:
compare_models_cross_val_score()

LogisticRegression(max_iter=1000) = [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
The mean accuracy of LogisticRegression(max_iter=1000) = 82.83

SVC(kernel='linear') = [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
The mean accuracy of SVC(kernel='linear') = 82.83

KNeighborsClassifier() = [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
The mean accuracy of KNeighborsClassifier() = 64.39

RandomForestClassifier() = [0.81967213 0.8852459  0.81967213 0.85       0.78333333]
The mean accuracy of RandomForestClassifier() = 83.16